md-dialog
  md-dialog-content
    div.md-inline-form(layout="column")
      form(ng-submit="save()")

        md-toolbar
          .md-toolbar-tools
            h2 Nova conta bancária

        md-content(layout-padding="")
          div(layout, layout-sm="column")
            md-input-container(flex)
              label Banco
              input(ng-model="account.bank", required)

          div(layout, layout-sm="column")

            md-input-container(flex)
              label Agência
              input(ng-model="account.agency", required)

            md-input-container(flex)
              label Número
              input(ng-model="account.number", required)

          div(layout, layout-sm="column")
            md-input-container(flex)
              label Saldo
              input(type="number", step="0.01", ng-model="account.balance", required)


        md-dialog-actions(layout="row")

          md-button.md-raised(type="button", ng-click="cancel()") Cancelar
          span(flex)
          md-button.md-raised.md-primary Salvar
