md-data-table-toolbar
  h2.md-title Contas Bancárias
  div(flex)
  md-button.md-fab.md-primary(aria-label="Adicionar Conta",cf-account-create)
    ng-md-icon(icon="add", size="32")

md-data-table-container
  table(md-data-table, md-row-select="selected")
    thead
      tr
        th(name="Banco", order-by="bank")
        th(name="Agência", order-by="agency")
        th(name="Numero Conta", order-by="number")
        th(numeric, name="Saldo" order-by="balance")
    tbody
      tr(md-auto-select, ng-repeat="account in accounts")
        td {{account.bank}}
        td {{account.agency}}
        td {{account.number}}
        td {{account.balance | number: 2}}

//md-data-table-pagination(md-limit="query.limit", md-page="query.page", md-total="{{accounts.total}}", md-trigger="onPaginationChange")
