md-dialog(flex="70", flex-lg="70", flex-md="90", flex-sm="90", flex-xs="90")
	md-toolbar
		.md-toolbar-tools
			h2(ng-if="!editing") Novo Informativo
			h2(ng-if="editing") Editar Informativo

	form(md-form-validator, ng-submit="submit()")
		md-dialog-content
			.md-dialog-content

				div(layout="row",layout-sm="column",layout-xs="column")

					div(flex)
						div(layout="row",layout-lg="row")
							div(flex)
								md-input-container.md-block
									label Titulo
									input(ng-model='model.title', name='title', required)
									md-messages
										md-message(required) Obrigatório

							div(flex=5,hide-sm,hide-xs)

							div(flex)
								md-datepicker(ng-model="model.date", name="date", md-placeholder="Dia disponível", required)
								md-messages(field="date")
									md-message(valid) Data inválida
									md-message(required) Obrigatório

						md-input-container.md-block
							label Mensagem
							textarea(ng-model='model.message', name='message', required)
							md-messages(field="message")
								md-message(required) Obrigatório

					div(flex=5)
					div.p-t-md(flex)
						label.md-title Preview
						div(marked='getFullMarkdown()')

		md-dialog-actions(layout="row")
			md-button.md-raised.md-accent(type="submit") Salvar
