md-card

	form(md-form-validator, ng-submit="submit()")


		div(layout="row",layout-sm="column",layout-xs="column")
			div(flex)
				md-input-container.md-block
					label Name
					input(ng-model='model.name', name="name", required)
					md-messages
						md-message(required) Obrigatório

				md-input-container.md-block
					label Email
					input(ng-model='model.email', type="email", name="email")
					md-messages
						md-message(email) Email inválido
						md-message(required) Obrigatório

				md-input-container.md-block
					label Telefone
					input(ng-model='model.phone', name="phone")
					md-messages
						md-message(required) Obrigatório

			div(flex)
				md-input-container.md-block
					label Endereço
					input(ng-model='model.address', name="address")

				ui-gmap-google-map(center="map.center",zoom="map.zoom",options="options")

		div(align="right")
			md-button.md-raised.md-accent(type="submit") Salvar
