section.content-hover.login-content.animated.fadeIn(ng-if='!hide')
	.content.animated.fadeInDown

		form(ng-submit='loginForm.$valid && submit()',name='loginForm', novalidate='')          

			.logo
				img(src="/imgs/logo.png")

			md-input-container.md-block
				label Email
				input(ng-model='model.email', name='email', type='email', required)
				div(ng-messages='loginForm.email.$error', ng-show="loginForm.$submitted || loginForm.email.$touched", md-auto-hide='false')
					div(ng-message='email') Email inválido
					div(ng-message='required') Obrigatório

			md-input-container.md-block
				label Senha
				input(ng-model='model.password', name='password', type='password', required)
				div(ng-messages='loginForm.password.$error', ng-show="loginForm.$submitted || loginForm.password.$touched", md-auto-hide='false')
					div(ng-message='required') Obrigatório

			md-dialog-actions(layout='row')
				span(flex='')
				md-button.md-raised.md-accent(type='submit') Entrar
