section.content-hover.login-content.animated.fadeIn
  .content.animated.fadeInDown
  
    form(method='post', (ngSubmit)='onSubmit(form)', #loginForm='ngForm', novalidate='', [ngClass]="{'form-submitted': submitted}")
      .logo
        img(src='/imgs/logo.png')
        
      .form-group
        input.form-control(type='email',placeholder='Email', [(ngModel)]='model.email', ngControl='email')
        {{loginForm.form.valid}}
        
      .form-group
        input.form-control(type='password', placeholder='Password', required, [(ngModel)]='model.password', ngControl='password')
        
      .form-group.text-right
        button.btn.btn-success.btn-addon(type='submit',(click)="submitted=true")
          i.glyphicon.glyphicon-log-in
          | Log in
          
      .validation-summary-errors([ngShow]='errorMessage')
        | {{errorMessage}}
