section.content-hover.login-content.animated.fadeIn(ng-if='!hide')
	.content.animated.fadeInDown

		form(md-form-validator, ng-submit='submit()')          

			.logo
				img(src="/imgs/logo.png")

			md-input-container.md-block
				label Email
				input(ng-model='model.email', name='email', type='email', required)
				md-messages
					md-message(email) Email inválido
					md-message(required) Obrigatório

			md-input-container.md-block
				label Senha
				input(ng-model='model.password', name='password', type='password', required)
				md-messages
					md-message(required) Obrigatório

			md-dialog-actions(layout='row')
				span(flex='')
				md-button.md-raised.md-accent(type='submit') Entrar
