md-dialog(flex="30", flex-lg="70", flex-md="90", flex-sm="90", flex-xs="90")
  md-dialog-content
    div.md-inline-form(layout="column")
    
      form(ng-submit="infoForm.$valid && submit()", name="infoForm", novalidate)
        md-toolbar
          .md-toolbar-tools
            h2(ng-if="!editing") Novo Informativo
            h2(ng-if="editing") Editar Informativo
            
        md-content(layout-padding="")                
            div(layout="row")
              div(flex="")
                
                div(layout="row")
                  div(flex="")
                    md-input-container.md-block
                      label Titulo
                      input(ng-model='model.title', name='title', required)
                      div(ng-messages='infoForm.title.$error', ng-show="infoForm.$submitted || infoForm.title.$touched", md-auto-hide='false')
                        div(ng-message='required') Obrigatório
                        
                  div(flex="")
                    md-datepicker(ng-model="model.date", name="date", md-placeholder="Dia disponível", required)
                    div.validation-messages(ng-messages='infoForm.date.$error', ng-show="infoForm.$submitted || infoForm.date.$touched", md-auto-hide='false')
                      div(ng-message='valid') Data inválida
                      div(ng-message='required') Obrigatório
                  
                md-input-container.md-block
                  label Mensagem
                  textarea(ng-model='model.message', name='message', required)
                  div(ng-messages='infoForm.message.$error', ng-show="infoForm.$submitted || infoForm.message.$touched", md-auto-hide='false')
                    div(ng-message='required') Obrigatório
              
              div.p-l-md.p-t-md(flex="")
                label.md-title Preview
                div(marked='getFullMarkdown()')
            
        md-dialog-actions(layout="row")
          md-button.md-raised.md-accent(type="submit") Salvar
