doctype
html(lang='en', ng-app='icbApp')
  head
    meta(name='viewport', content='initial-scale=1')
    meta(charset='UTF-8')
    title ICB
    link(rel='stylesheet', href='css/libs.css')
    link(rel='stylesheet', href='css/styles.css')
  body(layout='column', ng-controller='icbApp.appCtrl')
      #main(layout='column', flex)
        md-content(ng-view='', layout='column', flex='', layout-padding='')

    script(src='js/libs.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js')
    script(src='js/all.min.js')
