doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ICB
    base(href='/')
    link(href='/css/libs.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')
  body
    app
    script(src='/js/libs.js', asp-append-version='true')
    script.
      System.config({
        packages: {
          js: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      
      System.import('js/bootstrap')
      .then(null, console.error.bind(console));
