doctype
html(lang='en', ng-app='icbApp')
	head
		meta(name='viewport', content='initial-scale=1')
		meta(charset='UTF-8')
		title ICB - {{pageTitle}}

		link(rel='stylesheet', href='/css/libs.min.css')
		link(rel='stylesheet', href='/css/app.css')

		style.
			.ng-cloak{ display: none }

	body.ng-cloak(layout='column', ng-controller='icbApp.appCtrl')
		icb-loading
		//icb-login

		div(layout="row", flex)
			md-sidenav.md-sidenav-left.md-whiteframe-4dp(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")

				header
					div.logo
						img(src="/imgs/logo.png")
						p {{user.church.name}}

					p {{user.name.firstName}}

					md-menu(md-position-mode="target-right target")
						md-button.md-icon-button(ng-click='$mdOpenMenu($event)')
							ng-md-icon(icon='more_vert')
						md-menu-content
							md-menu-item
								md-button(icb-logout='')
									ng-md-icon(icon='exit_to_app') 
									| Sair

				nav.menu
					md-button(ng-href="/", ng-click="toggleSidenav('left')")
						ng-md-icon(icon="dashboard", size=24)
						| Dashboard
					md-button(ng-href="/event", ng-click="toggleSidenav('left')")
						ng-md-icon(icon="event", size=24)
						| Agenda
					md-button(ng-href="/informative", ng-click="toggleSidenav('left')")
						ng-md-icon(icon="description", size=24)
						| Informativos
					md-button(ng-href="/church", ng-click="toggleSidenav('left')")
						ng-md-icon(icon="business", size=24)
						| Igreja

			#main(layout='column', flex)
				md-toolbar.main-toolbar(layout='row')
					.md-toolbar-tools
						md-button.md-icon-button(ng-click="toggleSidenav('left')", hide-gt-sm='')
							ng-md-icon(icon="menu", size=24)
						h1 {{ pageTitle || 'ICB' }}

				ng-view.main-content

		script(src='/js/libs.min.js')
		script(src='/js/all.min.js')
