md-content {
  color: inherit;
}

ng-md-icon {
  &[size='32'] {
    width: 32px;
    height: 32px;
  }

  svg {
    vertical-align: middle;
    fill: inherit;
  }
}

.md-button:not(.md-fab) ng-md-icon + span{
  margin-left: 10px;
  display: inline-block;
}


.md-fab {
  fill: white;
}

md-datepicker {
  margin-top: 18px !important;
  display: block;

  .md-datepicker-input-container {
    margin-left: 0;
    width: calc(100% - 60px);
  }
}

.ng-submitted,
md-datepicker {
  &.ng-invalid:not(.ng-untouched),
  md-datepicker.ng-invalid {
    .md-datepicker-input-container {
      border-color: $danger;
    }

    md-icon {
      fill: rgba($danger, 0.8);
    }

    & + [ng-messages] {
      padding-left: 50px;
      color: $danger;
      font-size: 12px;
    }
  }
}

icb-loading > div {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  md-progress-circular {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto !important;
  }
}
