md-content {
  color: inherit;
}

ng-md-icon {
  &[size='32'] {
    width: 32px;
    height: 32px;
  }

  svg {
    vertical-align: middle;
    fill: inherit;
  }
}

.md-button:not(.md-fab) ng-md-icon + span {
  margin-left: 10px;
  display: inline-block;
}

.md-fab {
  fill: $white;
}
//
// md-input-container {
//   margin-bottom: 0;
//   padding: 2px 15px;
//   margin-top: 30px;
//
//   label {
//     padding-left: 15px !important;
//     width: auto !important;
//   }
//
//   &.md-input-focused label:not(.md-no-float),
//   &.md-input-has-placeholder label:not(.md-no-float),
//   &.md-input-has-value label:not(.md-no-float) {
//     transform: translate3d(5px,6px,0) scale(.75);
//   }
//
//   .md-errors-spacer {
//     min-height: 0;
//   }
// }

md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input {
  border-bottom-width: 2px;
}

md-datepicker {
  margin-top: 16px !important;
  margin-bottom: 7px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  display: block;

  .md-datepicker-input-container {
    margin-left: 0;
    width: calc(100% - 40px);
  }

  .md-datepicker-button {
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

md-datepicker,
md-input-container {
  + [ng-messages],
  [ng-messages] {
    min-height: 19px;

    &.ng-hide {
      display: block !important;
      visibility: hidden;
    }
  }
}

md-dialog {
  max-height: calc(100vh - 50px) !important;

  md-dialog-actions {
    border-top: 1px solid $border-color;
    padding: 10px 20px;
  }

  .md-dialog-content {
    padding: 8px;
  }
}

.ng-submitted,
md-datepicker {
  &.ng-invalid:not(.ng-untouched),
  md-datepicker.ng-invalid {
    .md-datepicker-input-container {
      border-color: $danger;
      border-width: 2px;
    }

    md-icon {
      fill: rgba($danger, 0.8);
    }

    & + [ng-messages] {
      padding-left: 50px;
      color: $danger;
      font-size: 12px;
      margin-top: -7px;
    }
  }
}

table.md-table td.md-cell {
  vertical-align: top;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

icb-loading > div {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  md-progress-circular {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto !important;
  }
}

icb-place-maps {
  display: block;
  width: 100%;
  min-height: 300px;
  position: relative;
  margin-top: 20px;

  md-progress-circular {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto !important;
    z-index: 0;
  }

  ui-gmap-google-map {
    z-index: 1;
    position: relative;

    .angular-google-map-container {
      display: block;
      width: calc(100% - 30px);
      min-height: 300px;
      margin: 0 15px 15px;

      input[type=text] {
        background-color: $white;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: calc(100% - 25px);
        max-width: 500px;
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        left: 0 !important;
      }
    }
  }

  .gm-style-mtc {
    display: none;
  }
}