@import "variables";
@import "mixin";
@import "components";

body {
  background: $background-color;
  color: $color;
  fill: $color;
}

md-toolbar {
  position: relative;
  min-height: 0;
  height: 56px;
  
  .md-toolbar-tools {
    height: 56px;
  }

  &:before {
    top: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    content: "";
    height: 56px;
    left: 0;
    right: 0;
    position: absolute;
    will-change: top,left;
  }
}

.error-message {
  color: $danger;
  margin-bottom: 20px;
}

.content-hover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 99;
  overflow: auto;
  animation-duration: 0.5s;
  @include transition;
}

.login-content {
  // background-image: url(../imgs/background.png);
  // background-size: cover;
  // background-position: center;
  .logo {
    margin-bottom: 30px;
    text-align: center;
    
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    max-width: calc(100% - 30px);
  }
}

.md-sidenav-left {
  padding-top: 20px;
  
  &.md-locked-open {
    box-shadow: none;
    background: none;
  }

  .md-button {
    display: block;
    text-align: left;
  }
}

.main-content {
  background: none;
}