@import "variables";
@import "mixin";
@import "components";

.content-hover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 1025;
  overflow: auto;
  animation-duration: 0.5s;
  @include transition;
}

.login-content {
  // background-image: url(../imgs/background.png);
  // background-size: cover;
  // background-position: center;
  .logo {
    margin-bottom: 30px;
    text-align: center;
    
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    max-width: calc(100% - 30px);
  }
}